.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
.terraform.tfvars
.terraform.tfstate.lock.info
.build/
**/.build/
__pycache__/
*.pyc
*.pyo
.Python
.venv/
venv/
.env
*.tar.gz
*.zip
.DS_Store
